*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.title{
    display: inline-block;
    position: absolute;
    left: 15.1cm;
    top: 1.8cm;
    font-size: 60px;
    font-family: 'Roboto Serif', sans-serif;
}

.container{
    display: inline-block;
    position: absolute;
    left: 14.8cm;
    top: 5cm;
    
}

.textField{
    min-height: 15cm;
    max-height: 15cm;
    min-width: 20cm;
    max-width: 20cm;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1cm;
    margin-left: 1cm;
}

input{
    display: inline-block;
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 24px;
    color:#858990;
    font-family: 'Roboto Serif', sans-serif;
    margin-top: 5px;
}


input[type="submit"]:hover{
    color: black;
}

textarea{
    padding-top: 55px;
}
    
::placeholder{
    display: inline-block;
    position: absolute;
    left: 7cm;
    top: 55px;
    color: black;
    font-family: 'Roboto Serif', sans-serif;
}

.prediction{
    font-size: 52px;
    position: absolute;
    width: 500px;
    right:18.5cm;
    bottom: 11cm;
}